<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Tabs</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
</head>

<body class="nsw-body-content nsw-docs">
  <div class="nsw-docs__wrapper">
    <div class="nsw-docs__nav">
      <nav class="nsw-docs-nav">
        <div class="nsw-docs-nav__wrapper">
          <div class="nsw-docs-nav__title">
            <a class="nsw-docs-nav__title-link" href="/">NSW Digital Design System</a>
          </div>
          <div class="nsw-docs-nav__title">
            <button>
              <span>Components</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/components/accordion/index.html">Accordion</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/breadcrumbs/index.html">Breadcrumbs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/button/index.html">Buttons</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/callout/index.html">Callout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/card/index.html">Cards</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/content-block/index.html">Content blocks</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/direction-links/index.html">Direction links</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/footer/index.html">Footer</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/forms/index.html">Forms</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/site-wide-message/index.html">Global alert</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/header/index.html">Header</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/banner/index.html">Hero banner</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/hero-search/index.html">Hero search</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/in-page-navigation/index.html">In-page navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/notification/index.html">In-page notification</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/link-list/index.html">Link list</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/main-navigation/index.html">Main navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/media/index.html">Media</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/pagination/index.html">Pagination</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/progress-indicator/index.html">Progress Indicator</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/side-navigation/index.html">Side navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/social-bar/index.html">Social bar</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/tables/index.html">Tables</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/tab-navigation/index.html">Tabs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/tags/index.html">Tags</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Styles</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/styles/grid/index.html">Grid</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/styles/iconography/index.html">Iconography</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/styles/layout/index.html">Layout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/styles/typography/index.html">Typography</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Demo pages</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/full-width-hero-banner/index.html">Full width - Hero banner</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/full-width-hero-banner-list/index.html">Full width - Hero banner [featured list]</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/full-width-hero-search/index.html">Full width - Hero search</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/sidebar-left/index.html">Two column - Sidebar on the left [side nav]</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/sidebar-right/index.html">Two column - Sidebar on the right</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/sidebar-empty/index.html">Two column - Sidebar on the right [empty]</a></li>
          </ul>
        </div>
      </nav>    </div>
    <div class="nsw-docs__main nsw-docs__main--narrow">
      <div class="nsw-docs__container">
        <div class="nsw-docs__back">
          <a href="/" class="nsw-docs__link">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
            <span>Home</span>
          </a>
        </div>
        <div class="nsw-docs__intro">
          <h1>Tabs</h1>
          <div class="nsw-docs__buttons">
            <a target="_blank" href="https://digitalnsw.github.io/nsw-design-system-docs/components/tab-navigation/index.html" class="nsw-docs__guidance">
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">description</i>
              <span>Guidance</span>
            </a>
          </div>
          
        </div>
        <div class="nsw-docs__content">

<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <div class="nsw-tabs js-tabs">
      <ul class="nsw-tabs__list">
        <li class="nsw-tabs__list-item">
          <a href="#section1" class="nsw-tabs__link">New and existing homes</a>
        </li>
        <li class="nsw-tabs__list-item">
          <a href="#section2" class="nsw-tabs__link">Vacant land</a>
        </li>
        <li class="nsw-tabs__list-item">
          <a href="#section3" class="nsw-tabs__link">Knockdown rebuild</a>
        </li>
      </ul>
      <section id="section1" class="nsw-tabs__content">
        <div class='nsw-wysiwyg-content'><h2>New and existing homes</h2><p>As a first home buyer, you may be eligible for a <a href='https://www.revenue.nsw.gov.au/taxes-duties-levies-royalties/transfer-duty'>transfer duty</a> concession or exemption.</p><ul><li>If your home is valued at less than $650,000, you can apply for a full exemption so that you don’t have to pay transfer duty.</li><li>If the value of your home is between $650,000 and $800,000, you can apply for a concessional rate of transfer duty. The amount you’ll have to pay will be based on the value of your home.</li></ul></div>
      </section>
      <section id="section2" class="nsw-tabs__content">
        <div class='nsw-wysiwyg-content'><h2>Vacant land</h2> <p>The FHBAS applies to vacant land on which you plan to build your home.</p><ul> <li>You won’t pay any <a href='https://www.revenue.nsw.gov.au/taxes-duties-levies-royalties/transfer-duty'>transfer duty</a> if your land is valued at less than $350,000.</li><li>For land valued between $350,000 and $450,000, you’ll receive a concessional rate.</li></ul></div>
      </section>
      <section id="section3" class="nsw-tabs__content">
        <div class='nsw-wysiwyg-content'><h2>Knockdown rebuild</h2> <p>If you’re like many Sydney homeowners, you wish you had a more spacious and luxurious home. The problem is, you don’t want to give up your prized location!<br/>KnockDown Rebuild by Metricon gives you the best of both worlds.</p><p>You can have a gorgeous, modern home with plenty of space for your family – without giving up the location you love. All you have to do is demolish your existing dwelling and replace it with your dream Metricon home.</p></div>
      </section>
    </div>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<div class="nsw-tabs js-tabs">
  <ul class="nsw-tabs__list">
    <li class="nsw-tabs__list-item">
      <a href="#section1" class="nsw-tabs__link">New and existing homes</a>
    </li>
    <li class="nsw-tabs__list-item">
      <a href="#section2" class="nsw-tabs__link">Vacant land</a>
    </li>
    <li class="nsw-tabs__list-item">
      <a href="#section3" class="nsw-tabs__link">Knockdown rebuild</a>
    </li>
  </ul>
  <section id="section1" class="nsw-tabs__content">
    <div class='nsw-wysiwyg-content'><h2>New and existing homes</h2><p>As a first home buyer, you may be eligible for a <a href='https://www.revenue.nsw.gov.au/taxes-duties-levies-royalties/transfer-duty'>transfer duty</a> concession or exemption.</p><ul><li>If your home is valued at less than $650,000, you can apply for a full exemption so that you don’t have to pay transfer duty.</li><li>If the value of your home is between $650,000 and $800,000, you can apply for a concessional rate of transfer duty. The amount you’ll have to pay will be based on the value of your home.</li></ul></div>
  </section>
  <section id="section2" class="nsw-tabs__content">
    <div class='nsw-wysiwyg-content'><h2>Vacant land</h2> <p>The FHBAS applies to vacant land on which you plan to build your home.</p><ul> <li>You won’t pay any <a href='https://www.revenue.nsw.gov.au/taxes-duties-levies-royalties/transfer-duty'>transfer duty</a> if your land is valued at less than $350,000.</li><li>For land valued between $350,000 and $450,000, you’ll receive a concessional rate.</li></ul></div>
  </section>
  <section id="section3" class="nsw-tabs__content">
    <div class='nsw-wysiwyg-content'><h2>Knockdown rebuild</h2> <p>If you’re like many Sydney homeowners, you wish you had a more spacious and luxurious home. The problem is, you don’t want to give up your prized location!<br/>KnockDown Rebuild by Metricon gives you the best of both worlds.</p><p>You can have a gorgeous, modern home with plenty of space for your family – without giving up the location you love. All you have to do is demolish your existing dwelling and replace it with your dream Metricon home.</p></div>
  </section>
</div>
`));
</script></code></pre>
		</div>
	</div>
</div>

        </div>
      </div>
    </div>
  </div>
  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
  <script src="/docs/js/docs.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
