---
title: Activities and Templates - Presentation
page: true
model:
  nav: ../../components/main-navigation/json/mega-navigation-digital-nsw.json
  footer: ../../components/footer/json/footer.json
---

{{>_header content="#content" nav="#main-navigation"}}
{{>_main-navigation model.nav}}


<div class="nsw-container nsw-p-bottom-xs">
  <nav aria-label="Breadcrumbs" class="nsw-breadcrumb">
    <ol class="nsw-breadcrumb__list">
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link">Home</a>
      </li>
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link">Digital Service Toolkit</a>
      </li>
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link">Resources</a>
      </li>
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link">Activities and templates</a>
      </li>
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link nsw-breadcrumb--current" aria-current="page">Keeping stakeholders updated</a>
      </li>
    </ol>
  </nav>
</div>

<main class="nsw-research" id="content">
  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-9">
              <div class="nsw-tag nsw-tag--presentation">Presentation</div>
              <h1 >Keeping stakeholders updated</h1>
              <p class="nsw-intro">Keep your stakeholders informed and engaged with regular updates, using this simple presentation template </p>
              <p><a href="#" target="_blank" class="nsw-button nsw-button--primary">Launch Powerpoint template</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-12">
              <ul class="nsw-icon-list nsw-icon-list--inline nsw-icon-list--spaced">
                <li>
                  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">edit</i>
                  <span>
                    Prep time<br />
                    <strong>1/4 day</strong>
                  </span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
                  <span>
                    <small>Presentation time</small><br />
                    <strong>30-40 mins</strong>
                  </span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
                  <span>
                    <small>Casting</small><br />
                    <strong>1+ team members</strong>
                  </span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
                  <span>
                    <small>Tool</small><br />
                    <strong>Powerpoint</strong>
                  </span>
                </li>
              </ul>
              <hr>
            </div>
            <div class="nsw-col nsw-col-lg-6">
              <p>
                <strong>Use for:</strong> Moving projects forward<br>
                <strong>When:</strong> Fortnightly<br>
                <strong>With:</strong> Your team and key stakeholders
              </p>
              <div class="nsw-m-top-md">
                <p><strong>Resources include:</strong></p>
                <ul class="nsw-icon-list nsw-icon-list--compact">
                  <li>
                    <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                    <span><a href="#">Powerpoint template (PowerPoint 250KB)</a></span>
                  </li>
                  <li>
                    <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                    <span><a href="#">Example presentation (PowerPoint 300KB)</a></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="nsw-col nsw-col-lg-6">
              <p><a href="#" target="_blank"><img class="nsw-image" src="../../assets/images/research-activity.png" alt="Powerpoint template"></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-9">
              <h2>Presentation guide</h1>
              <p>Stakeholders are well-placed to guide projects, solve problems and endorse decisions. By regularly sharing project progress and challenges, you will get the most out of stakeholders and keep your project on track.  </p>
            </div>
          </div>

          <div class="nsw-grid nsw-grid--spaced">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              <div class="nsw-content-block">
                <div class="nsw-content-block__content">
                  <h2 class="nsw-content-block__title">What’s it for</h2>
                  <p class="nsw-content-block__copy">For keeping stakeholders informed and engaged - and keeping your team accountable for delivering work that’s been planned.  </p>
                </div>
                <div class="nsw-content-block__image-area">
                  <div class="nsw-content-block__icon">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.748 18.6c-11.47 0-20.77 9.273-20.77 20.713 0 11.44 9.3 20.714 20.77 20.714 11.47 0 20.77-9.274 20.77-20.714S36.218 18.6 24.748 18.6zM2 39.312c0-12.53 10.185-22.687 22.748-22.687s22.748 10.158 22.748 22.687C47.496 51.843 37.311 62 24.748 62S2 51.843 2 39.313z" fill="#333"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.748 29.45c-5.462 0-9.89 4.416-9.89 9.863 0 5.448 4.428 9.864 9.89 9.864 5.462 0 9.89-4.416 9.89-9.864 0-.613-.056-1.213-.163-1.794a.989.989 0 011.946-.356c.129.698.196 1.417.196 2.15 0 6.537-5.314 11.837-11.869 11.837S12.88 45.85 12.88 39.313s5.314-11.836 11.87-11.836c.735 0 1.456.067 2.156.195a.987.987 0 11-.358 1.94 9.976 9.976 0 00-1.799-.163z" fill="#0085B3"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.049 39.602a.985.985 0 010-1.395l21.349-21.292a.99.99 0 011.399 0 .984.984 0 010 1.395l-21.35 21.292a.99.99 0 01-1.398 0z" fill="#333"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M53.888 2.895c.693.2 1.221.76 1.38 1.462l.802 3.557 3.567.8a1.969 1.969 0 01.964 3.32l-7.487 7.467a1.982 1.982 0 01-1.833.53l-4.788-1.075a1.975 1.975 0 01-1.495-1.491L43.92 12.69a1.97 1.97 0 01.532-1.828l7.487-7.467c.51-.509 1.257-.7 1.95-.5zm.527 6.67L53.338 4.79l-7.488 7.467 1.078 4.775 4.787 1.074 7.488-7.467-4.788-1.075z" fill="#0085B3"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              <div class="nsw-content-block">
                <div class="nsw-content-block__content">
                  <h2 class="nsw-content-block__title">What you’ll get</h2>
                  <p class="nsw-content-block__copy">Stakeholder endorsement for the decisions and actions being made along the way, and support on critical issues.</p>
                </div>
                <div class="nsw-content-block__image-area">
                  <div class="nsw-content-block__icon">
                     <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.46 57.13a1.986 1.986 0 01-1.366-1.405L5.06 47.982a8.001 8.001 0 01.008-4.094l8.573-32.153c.991-3.72 4.796-5.927 8.497-4.93 3.702.996 5.898 4.82 4.907 8.54L18.502 47.38a7.971 7.971 0 01-2.245 3.758l-5.895 5.534a1.974 1.974 0 01-1.901.458zm-1.485-9.657a6.001 6.001 0 01.005-3.07l8.573-32.152c.709-2.658 3.427-4.235 6.072-3.523 2.644.712 4.214 3.444 3.505 6.102L16.59 46.865a5.978 5.978 0 01-1.684 2.819l-5.896 5.533-2.034-7.743z" fill="#333"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M50.403 43.316c.523.16.818.716.659 1.241l-3.467 11.448a.99.99 0 01-1.204.671l-20.305-5.474a.996.996 0 01.514-1.923l19.379 5.225 3.188-10.526a.99.99 0 011.236-.663z" fill="#0085B3"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.07 13.52a.986.986 0 01.767-.058l5.943 1.99c.519.174.8.738.626 1.26a.99.99 0 01-1.252.63l-4.982-1.67L4.51 27.64a.99.99 0 01-1.238.658.996.996 0 01-.656-1.244l3.962-12.94a.994.994 0 01.494-.592zM52.593 5.582c.23.134.395.355.461.613l8.915 34.839a1 1 0 01-.717 1.212L20.148 52.698a.996.996 0 01-.486-1.93l40.14-10.206-8.416-32.893-20.82 5.707a.996.996 0 01-.521-1.92l21.79-5.974a.986.986 0 01.758.1z" fill="#333"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M33.88 24.935c-3.385 1.416-5.288 5.166-4.313 8.823 1.062 3.982 5.136 6.345 9.098 5.278 3.639-.98 5.92-4.51 5.446-8.164L37 32.787a.99.99 0 01-1.213-.704l-1.906-7.148zm-6.226 9.338c-1.345-5.045 1.634-10.23 6.653-11.582a.99.99 0 011.213.704l1.923 7.211 7.176-1.932a.99.99 0 011.213.704c1.345 5.044-1.634 10.23-6.654 11.581-5.02 1.352-10.18-1.642-11.524-6.686z" fill="#0085B3"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M40.45 18.359l1.648 6.186 6.156-1.658c-1.283-3.099-4.493-4.961-7.805-4.528zm-1.487-1.73c5.02-1.351 10.179 1.643 11.524 6.687a.996.996 0 01-.7 1.22l-8.133 2.19a.99.99 0 01-1.213-.705l-2.179-8.172a.996.996 0 01.7-1.22z" fill="#0085B3"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              <div class="nsw-content-block">
                <div class="nsw-content-block__content">
                  <h2 class="nsw-content-block__title">When to do it</h2>
                  <p class="nsw-content-block__copy">Set a regular meeting with stakeholders at the start of the project, with enough time between meetings to make meaningful progress as a project team. As a guide, agile teams tend to favour fortnightly updates.</p>
                </div>
                <div class="nsw-content-block__image-area">
                  <div class="nsw-content-block__icon">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M19 2a2 2 0 00-2 2v4H4a2 2 0 00-2 2v50a2 2 0 002 2h56a2 2 0 002-2V10a2 2 0 00-2-2H47V4a2 2 0 00-2-2h-5a2 2 0 00-2 2v4H26V4a2 2 0 00-2-2h-5zM4 22v38h56V22H4zm56-2V10H4v10h56zM45 4v4h-5V4h5zM24 8V4h-5v4h5z" fill="#333"/>
                      <path d="M16 30a1 1 0 00-1 1v6a1 1 0 001 1h6a1 1 0 001-1v-6a1 1 0 00-1-1h-6zM29 30a1 1 0 00-1 1v6a1 1 0 001 1h6a1 1 0 001-1v-6a1 1 0 00-1-1h-6zM42 30a1 1 0 00-1 1v6a1 1 0 001 1h6a1 1 0 001-1v-6a1 1 0 00-1-1h-6zM42 43a1 1 0 00-1 1v6a1 1 0 001 1h6a1 1 0 001-1v-6a1 1 0 00-1-1h-6zM29 43a1 1 0 00-1 1v6a1 1 0 001 1h6a1 1 0 001-1v-6a1 1 0 00-1-1h-6zM16 43a1 1 0 00-1 1v6a1 1 0 001 1h6a1 1 0 001-1v-6a1 1 0 00-1-1h-6z" stroke="#0085B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="nsw-section-separator" />
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-9">
              <h2>How it works</h1>
              <p><strong>Template instructions</strong></p>
              <ul>
                <li>Use this PowerPoint template to help you get started. You will need to adapt it to your project and stakeholder needs.</li>
                <li>Follow the instructions included on each slide.</li>
                <li>An example of a Project Update is included at the end of the template. </li>
                <li>You can delete any slides you don’t need and add a new slide from the New Slide function.</li>
                <li>Any changes you make need to be in line with NSW Government branding and accessibility requirements.   ​ </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-9">
              <h2>Have questions</h2>
              <p>Join the <a href="#" target="_blank">Digital NSW Community</a> to connect with other NSW Government digital people, ask questions, get support or provide feedback. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{>_footer model.footer}}
