<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - In-page notification</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
</head>

<body class="nsw-body-content nsw-docs">
  <div class="nsw-docs__wrapper">
    <div class="nsw-docs__nav">
      <nav class="nsw-docs-nav">
        <div class="nsw-docs-nav__wrapper">
          <div class="nsw-docs-nav__title">
            <a class="nsw-docs-nav__title-link" href="/">NSW Digital Design System</a>
          </div>
          <div class="nsw-docs-nav__title">
            <button>
              <span>Components</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/components/accordion/index.html">Accordion</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/breadcrumbs/index.html">Breadcrumbs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/button/index.html">Buttons</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/callout/index.html">Callout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/card/index.html">Cards</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/content-block/index.html">Content blocks</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/direction-links/index.html">Direction links</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/footer/index.html">Footer</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/forms/index.html">Forms</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/site-wide-message/index.html">Global alert</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/header/index.html">Header</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/banner/index.html">Hero banner</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/hero-search/index.html">Hero search</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/in-page-navigation/index.html">In-page navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/notification/index.html">In-page notification</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/link-list/index.html">Link list</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/main-navigation/index.html">Main navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/media/index.html">Media</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/pagination/index.html">Pagination</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/progress-indicator/index.html">Progress Indicator</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/side-navigation/index.html">Side navigation</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/social-bar/index.html">Social bar</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/tables/index.html">Tables</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/tab-navigation/index.html">Tabs</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/components/tags/index.html">Tags</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Styles</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a class="nsw-docs-nav__list-link" href="/styles/grid/index.html">Grid</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/styles/iconography/index.html">Iconography</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/styles/layout/index.html">Layout</a></li>
            <li><a class="nsw-docs-nav__list-link" href="/styles/typography/index.html">Typography</a></li>
          </ul>
      
          <div class="nsw-docs-nav__title">
            <button>
              <span>Demo pages</span>
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
            </button>
          </div>
          <ul class="nsw-docs-nav__list">
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/full-width-hero-banner/index.html">Full width - Hero banner</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/full-width-hero-banner-list/index.html">Full width - Hero banner [featured list]</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/full-width-hero-search/index.html">Full width - Hero search</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/sidebar-left/index.html">Two column - Sidebar on the left [side nav]</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/sidebar-right/index.html">Two column - Sidebar on the right</a></li>
            <li><a target="_blank" class="nsw-docs-nav__list-link" href="/templates/sidebar-empty/index.html">Two column - Sidebar on the right [empty]</a></li>
          </ul>
        </div>
      </nav>    </div>
    <div class="nsw-docs__main nsw-docs__main--narrow">
      <div class="nsw-docs__container">
        <div class="nsw-docs__back">
          <a href="/" class="nsw-docs__link">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
            <span>Home</span>
          </a>
        </div>
        <div class="nsw-docs__intro">
          <h1>In-page notification</h1>
          <div class="nsw-docs__buttons">
            <a target="_blank" href="https://digitalnsw.github.io/nsw-design-system-docs/components/notification/index.html" class="nsw-docs__guidance">
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">description</i>
              <span>Guidance</span>
            </a>
          </div>
          
        </div>
        <div class="nsw-docs__content">

<h3>Information</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <div class="nsw-notification nsw-notification--info">
      <i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">info</i>
      <div class="nsw-notification__content">
        <h4 class="nsw-notification__title">Rockdale Service Centre is coming soon</h4>
        <p>Rockdale Agency will close on 9 March 2018 and re-open in April. Please visit Kogarah Service Centre during this closure.</p>
      </div>
    </div>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<div class="nsw-notification nsw-notification--info">
  <i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">info</i>
  <div class="nsw-notification__content">
    <h4 class="nsw-notification__title">Rockdale Service Centre is coming soon</h4>
    <p>Rockdale Agency will close on 9 March 2018 and re-open in April. Please visit Kogarah Service Centre during this closure.</p>
  </div>
</div>
`));
</script></code></pre>
		</div>
	</div>
</div>


<h3>Critical</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <div class="nsw-notification nsw-notification--error">
      <i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">cancel</i>
      <div class="nsw-notification__content">
        <h4 class="nsw-notification__title">It looks like there was a problem</h4>
        <p>Please contact your service desk for further assistance.</p>
      </div>
    </div>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<div class="nsw-notification nsw-notification--error">
  <i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">cancel</i>
  <div class="nsw-notification__content">
    <h4 class="nsw-notification__title">It looks like there was a problem</h4>
    <p>Please contact your service desk for further assistance.</p>
  </div>
</div>
`));
</script></code></pre>
		</div>
	</div>
</div>


<h3>Warning</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <div class="nsw-notification nsw-notification--warning">
      <i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">error</i>
      <div class="nsw-notification__content">
        <h4 class="nsw-notification__title">Password expiring soon</h4>
        <p>Your password is expiring in 4 days. Please change your password.</p>
      </div>
    </div>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<div class="nsw-notification nsw-notification--warning">
  <i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">error</i>
  <div class="nsw-notification__content">
    <h4 class="nsw-notification__title">Password expiring soon</h4>
    <p>Your password is expiring in 4 days. Please change your password.</p>
  </div>
</div>
`));
</script></code></pre>
		</div>
	</div>
</div>


<h3>Success</h3>
<div class="nsw-docs__example">
  <div class="nsw-docs__component">
    <div class="nsw-notification nsw-notification--success">
      <i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">check_circle</i>
      <div class="nsw-notification__content">
        <h4 class="nsw-notification__title">Your application has been received</h4>
        <p>Thank you for submitting your interest. We will be in contact within 5 business days.</p>
      </div>
    </div>
  </div>
</div>
<div class="nsw-docs-code">
	<button class="nsw-docs-code__button">
		<span>Show code</span>
		<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</i>
	</button>
	<div class="nsw-docs-code__content">
		<button class="nsw-docs-code__copy">
			<span>Copy</span>
			<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">content_copy</i>
		</button>
		<div class="nsw-docs-code__wrapper">
<pre><code class="html"><script>
	  function escapeHtml(unsafe) {
	    return unsafe
	     .replace(/&/g, "&amp;")
	     .replace(/</g, "&lt;")
	     .replace(/>/g, "&gt;")
	     .replace(/"/g, "&quot;")
	     .replace(/'/g, "&#039;");
	  }
	  document.write(escapeHtml(`<div class="nsw-notification nsw-notification--success">
  <i class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">check_circle</i>
  <div class="nsw-notification__content">
    <h4 class="nsw-notification__title">Your application has been received</h4>
    <p>Thank you for submitting your interest. We will be in contact within 5 business days.</p>
  </div>
</div>
`));
</script></code></pre>
		</div>
	</div>
</div>


        </div>
      </div>
    </div>
  </div>
  <script src="../../js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
  <script src="/docs/js/docs.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
