---
title: NSW Digital Design System
home: true
style: true
width: narrow
---
<div class="nsw-docs-example nsw-docs-example--narrow">
	<div class="nsw-section">
		<h2>NSW Design System: Projects</h2>
		<p>This repository is for development of HTML/CSS for NSW DDS in-house projects.</p>
	</div>

	<div class="nsw-section nsw-m-top-lg">
		<h3>Activities and templates</h3> 

		<ul>
			<li><a target="_blank" href="projects/activities-and-templates/index.html">Landing page</a></li>
			<li><a target="_blank" href="projects/activities-and-templates/activity.html">Activity page</a></li>
			<li><a target="_blank" href="projects/activities-and-templates/presentation.html">Presentation page</a></li>
			<li><a target="_blank" href="projects/activities-and-templates/document.html">Document page</a></li>
			<li><a target="_blank" href="projects/activities-and-templates/toolkit.html">Digital Service Toolkit page</a></li>
		</ul>
	</div>
</div>

